<body>
	<form action="/home/" method="post">
		新增用户姓名:<br>
		<input type="text" name="a_name"><br>
		<input type="submit" value="提交用户姓名" />
	</form>
	<div>
		<table border="2">
			<thead>
				<tr>
					<th>用户姓名</th>
					<th>ctime</th>
					<th>uptime</th>
					<th>emial</th>
					<th>emial2</th>
					<th>ip地址</th>
				</tr>
			</thead>
			<tbody>
				{% for line in result %}
					<tr>
						<td>{{ line.name }}</td>
						<td>{{ line.ctime }}</td>
						<td>{{ line.uptime }}</td>
						<td>{{ line.email }}</td>
						<td>{{ line.email2 }}</td>
						<td>{{ line.ip }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</body>